body {
    background-color: #E8E9ED;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.main-container-new {
    margin: 30px;
}

.page-container-succes {
    display: flex;
    justify-content: center;
}

.succes-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    max-width: 900px;
    padding: 10px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 900px;
}

textarea {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.error-message {
    color: #DC143C
}